
@{
    ViewData["Title"] = "Persona";
}

<h1>Persona</h1>

<button class="btn btn-success" onclick="exportarExcel()">Excel</button>

<div id="divPersona"></div>


<script src="~/js/generic.js"></script>
<script src="~/js/persona.js"></script>